/*HEADER*/
html{
    font-size: 62.5%;
    box-sizing: border-box; 
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*HEADER*/  
.header {    
    padding: .5em ;
    background-image: url(/assets/Header\ bg.jpeg);
    background-size: cover;
    height: 60rem;
}

.header svg{
    stroke:#ffffff;
    height: 20rem;
    margin-right: 2rem;
}

.header svg:hover{
    stroke:#fd0061;
    height: 20rem;
    margin-right: 2rem;
}

.profile-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image img {
    border-radius: 90px;
    height: 170px;
    max-width: 17rem;
    border: 5px solid #fd0061;
}
.nav-bar{

}
.nav-bar ul{
    list-style: none;
    display: flex;
    justify-content: right;
    padding-right: 3rem;
}
.hero h2{
    color: #ffffff;
    font-size: 7rem;
    text-align: center;
    display: inline-block;
}

.img-nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
}


/*CARD*/

.card {
    padding: 1.5rem;;
    border: 1px solid black;
    margin-bottom: 2rem;
}

.card-image {
    height: 100%;
}

.cart-content {

}

@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
} 




